* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  margin: auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #00000095;
  padding: 2rem 35rem;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}
nav .logo {
  background-color: #000;
  border-radius: 8rem;
  width: 3rem;
  height: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
nav ul {
  font-size: 1.4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav ul li {
  cursor: pointer;
  font-weight: 300;
}

nav ul li:hover {
  color: rgba(0, 0, 255, 0.809);
}

nav ul li:last-child {
  color: white;
  background-color: #000;
  padding: 0.5rem 1.2rem;
  border-radius: 8rem;
}

.hero {
  background-color: #ffc017;
  padding: 7rem 35rem;
  border-bottom: 0.1rem solid #0000008a;
}

.hero h1 {
  font-size: 8rem;
  font-weight: 400;
  margin: 2rem 0;
  letter-spacing: 0.1rem;
}
.hero p {
  font-size: 2rem;
  width: 38rem;
  margin: 2rem 0;
}
.hero button {
  background-color: #000;
  color: white;
  font-size: 1.5rem;
  border-radius: 8rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero button:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
section {
  padding: 4rem 35rem;
}

section .posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
section .posts .post {
  margin: 2rem 0;
  display: flex;
  gap: 3rem;
  font-size: 1rem;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
.avatar span {
  border-radius: 50%;
  background-color: #008aff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.post .count {
  font-size: 3rem;
  font-weight: bolder;
  color: #3333333a;
}

.post .details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.post .title {
  cursor: pointer;
}
